<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width">
  <meta name="Author" content="UX Indonesia (UXID)">

	<title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>

	<link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i" rel="stylesheet">

	<!-- Put Google Analytics code here-->

	<!-- End of Google Analytics code -->

</head>
