/*---------------------------------------
Global
---------------------------------------*/
html {
	margin: 0;
	padding: 0;
	color: $font-color;
	font-family: $font-style;
	font-size: 62.5%;
	line-height: $line-height;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

body {
	font-size: $font-size;
	max-width: 100%;
}

/*---------------------------------------
Footer
---------------------------------------*/

footer {
	padding: 1em 30pt;
	display: block;

	.footer-inner {
		max-width: 1000px;
		margin: 0 auto;

		.site-footer {
			text-align: left;
			font-size: .8em;
		}

		.copyright {
			text-align: left;
			font-size: .6em;
		}
	}
}

/*---------------------------------------
Header
---------------------------------------*/

header {
	padding: 1em 30pt;
	display: block;
	border-bottom: 1pt solid #ddd;

	.header-inner {
		max-width: 1000px;
		margin: auto;

		.logo {
			display: inline-block;
			a {
				text-decoration: none;
				color: $font-color;
			}
		}

		nav {
			display: inline-block;
			float: right;
			font-size: .8em;
			font-weight: bold;

			ul {
				list-style: none;

				li {
					float: left;
					position: relative;
					padding: 0 15px;

					a {
						text-decoration: none;

						&:visited {
							color: $font-color;
							text-decoration: none;
							display: block;
							padding: 15px;
						}

						&:hover {
							text-decoration: underline;
							color: $link-color;
						}
					}
				}
			}
		}
	}
}

/*---------------------------------------
Main
---------------------------------------*/

main {
	padding: 1em 30pt;
	max-width: 1000px;
	margin: 0 auto;
	border-bottom: 1pt solid #ddd;

	article {
		max-width: $content-width;
		padding-bottom: 4em;
	}

	header {
		margin-bottom: 2em;
		border-bottom: none;
	}
}

img {
	max-width: 100%;
	margin: 0 auto;
}

.container {
	max-width: $content-width;
	margin: 0 auto;
}

/* Specialy Behaved Objects */

#logo {
	width: 80pt;
}

.promo-banner {
	padding: 10px;

	img {
		width: 100%;
	}
}

/* Responsive */

@media screen and (max-width: 680px) {
	.hideOnWeb {
		display: inline-block;
	}

	header {
		width: 100%;
  	.logo {
			display: block;
			width: 100%;
    	text-align: center;
			margin: 0;
  	}
		nav {
			display: block;
			width: 100%;
			float: none;
			text-align: center;
			ul {
				display: inline-block;
				margin: auto;
			}
		}
	}
}

@media screen and (max-width: 390px) {
	.hideOnWeb {
		display: none;
	}
}
